<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test.log</file>
        <append>false</append>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warning">
        <appender-ref ref="FILE" />
    </root>

    <logger name="pl.marpiec.simplifiedcqrs" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>
</configuration>